# See https://github.com/github/linguist/blob/master/docs/overrides.md#generated-code
portfolio/html/js/three.js -linguist-vendored
portfolio/html/files.js -linguist-vendored
blog/html/node_modules/* linguist-vendored
blog/html/resources/ckeditor5-build-classic/* linguist-vendored
blog/html/public/js/* linguist-generated

